@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

input[type="button"] {
  outline: none !important;
  border: 0 !important;
}

button:focus {
  outline: none !important;
  border: 0 !important;
}

.app {
  min-height: 100vh;
  max-height: auto;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.hero {
  min-height: 300px;
  max-height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  background-position: center;
}

.hero-content {
  width: 90%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 100px;
}

.hero-content h3 {
  font-weight: 700;
  font-size: 2.3rem;
  color: white;
}

.hero-content img {
  cursor: pointer;
}

.hero-content button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.main-content {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  height: auto;
  width: 100%;
  max-width: 600px;
  padding: 0px 20px;
  position: absolute;
  top: 220px;
  border-radius: 5px;
}

.todo-container {
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.11);
}

.todo-form input {
  width: 80%;
  height: 40px;
  padding: 20px;
  border: none;
}

.todo-form button {
  width: 20%;
  height: 40px;
  border: none;
  cursor: pointer;
}

.todos-list {
  height: 300px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

.todo-divs {
  min-height: 50px;
  max-height: auto;
  width: 100%;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.11);
}

.todo-divs>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.todo-divs li {
  list-style: none;
  padding: 20px;
}

.close-img {
  padding: 12px 10px;
  cursor: pointer;
}